* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* MAIN PAGE */

.navbar {
    width: 100%;
    height: 70px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: aqua;
    font-size: 30px;
    font-weight: 500;
    padding-left: 50px;
    padding-top: 20px;
    font-family: 'Kanit', sans-serif;
    ;
    font-weight: 520;
}

.logo:hover {
    color: brown;
    font-weight: 550;
}

.navbar ul,
li {
    display: flex;
    padding-left: 30px;
    padding-top: 14px;
    padding-right: 30px;
}

a {
    color: black;
    font-size: 18px;
    font-family: 'Arima', cursive;
}

a:hover {
    color: red;
    border-bottom: 1px solid white;
}

.page {
    background-image: url('https://img.freepik.com/free-vector/modern-wide-background-with-diagonal-lines-effect-design_1017-28229.jpg?w=2000');
    height: 700px;
    background-repeat: no-repeat;
}

.content {
    padding: 150px;
    text-align: center;
}

.button {
    margin-top: 25px;
    padding: 12px;
    background-color: darkgray;
    border-radius: 15px;
    border: none;
}

.button:hover {
    background-color: red;
}

.information {
    padding: 5px;
    margin: 10px;
    font-family: 'Arima', cursive;
    display: flex;
}

.information h2 {
    text-align: center;
}

.box1 {
    padding: 10px;
    margin: 5px;
    background-color: gray;
}

.box2 {
    padding: 10px;
    margin: 5px;
    background-color: lightgray;
}

.box3 {
    padding: 10px;
    margin: 5px;
    background-color: gray;
}

/* SHOP PAGE */

.shop {
    background-color: lightgrey;
}

.logo1 {

    font-size: 20px;
    font-family: 'Arima', cursive;
    padding-left: 45px;
    padding-right: 150px;
}

.searchbar {
    display: flex;
    padding-right: 80px;
    padding-bottom: 20px;
    background-color: lightgray;
    padding-top: 15px;
}

.search {
    position: relative;
    font-size: 20px;
    font-family: 'Arima', cursive;
    padding-left: 130vh;
}

.searchbar input {
    padding-left: 5px;
    border-radius: 10px;
    width: 10rem;
    height: 2rem;
}

.buttonSearch {
    margin-left: 1.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
}